@model IEnumerable<HomeManagementApp.Models.UserTask>

@{
    ViewData["Title"] = "Lista zadań";
}

<h1>Lista zadań</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Stwórz nowe zadanie</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Zadanie</th>
            <th>Termin wykonania</th>
            <th>Zakończone</th>
            <th>Użytkownik</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AdminTask.Name - @item.AdminTask.Points pkt</td>
                <td>@item.DueDate.ToString("dd.MM.yyyy")</td>
                <td><input type="checkbox" disabled="disabled" @(item.IsComplete ? "checked" : "") /></td>
                <td>@item.User.UserName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
