@model IEnumerable<HomeManagementApp.Models.UserReward>

@{
    ViewData["Title"] = "Zarządzaj odebranymi nagrodami";
}

<h2>Zarządzaj odebranymi nagrodami</h2>

<table class="table">
    <thead>
        <tr>
            <th>Użytkownik</th>
            <th>Email</th>
            <th>Nazwa nagrody</th>
            <th>Opis</th>
            <th>Koszt</th>
            <th>Data Odbioru</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.UserName</td>
                <td>@item.User.Email</td>
                <td>@item.Reward.Name</td>
                <td>@item.Reward.Description</td>
                <td>@item.Reward.Cost</td>
                <td>@item.DateReceived.ToString("yyyy-MM-dd")</td>
                <td>
                    <form asp-action="DeleteUserReward" asp-route-id="@item.Id" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
